@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*Colors*/
/* ### Primary */
:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);

    --text-color: black;
    --backGround: hsl(0, 0%, 100%);
    --toggleBg: hsl(230, 22%, 74%);
    --toggle: hsl(0, 0%, 100%);
    --cardBg: hsl(227, 47%, 96%);

    /* #### Dark Theme */

    --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    /* #### Light Theme */

    --Toggle: hsl(230, 22%, 74%);

    /* ### Neutral */

    /* #### Dark Theme */

   

    --VeryDarkBlueBG: hsl(230, 17%, 14%);
    --VeryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
    --DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
    --DesaturatedBlueText: hsl(228, 34%, 66%);
    --WhiteText: hsl(0, 0%, 100%);

    /* #### Light Theme */

    --WhiteBG: hsl(0, 0%, 100%);
    --VeryPaleBlueTopBGPattern: hsl(225, 100%, 98%);
    --LightGrayishBlueCardBG: hsl(227, 47%, 96%);
    --DarkGrayishBlueText: hsl(228, 12%, 44%);
    --VeryDarkBlueText: hsl(230, 17%, 14%);

    --Fontsize: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body.darkTheme{
    --text-color: hsl(0, 0%, 100%);
    --backGround: hsl(230, 17%, 14%);
    --toggleBg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --toggle: hsl(230, 17%, 14%);
    --cardBg: hsl(228, 28%, 20%);
}
body{
    background-color: var(--backGround);
    color: var(--text-color);
    transition: 2s all ease;
}


#header {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2rem;
}

.header_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.first_content_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    position: relative;
}
.horizontan_line{
    position: absolute;
    visibility: hidden;
}

.first_content_wrapper h1 {
    font-size: 20px;
}

.first_content_wrapper h3 {
    font-size: 12px;
    font-weight: 200;
}

.togg {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.togg h3 {
    font-size: 15px;
    color: var(--Toggle);
}
.togg .iconWrapper{
    width: 42px;
    position: relative;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--toggleBg);
    cursor: pointer;
    
}
/* .togg .iconWrapper.darkBg{
    width: 42px;
    position: relative;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
} */
.togg .iconWrapper .iconToggle{
    cursor: pointer;
    width: 15px;
    position: absolute;
    height: 15px;
    border-radius: 50%;
    transition: all 1s;
    /* left: 0;
    margin-left: 3px; */
    right: 0;
    margin-right: 3px;
    background-color: var(--toggle);
    transition: 2s all ease;
    
}
.togg .iconWrapper .iconToggle.dark{
    width: 15px;
    position: absolute;
    height: 15px;
    border-radius: 50%;
    transition: all 1s;
    left: 0;
    cursor: pointer;
    margin-left: 3px;
    /* right: 0;
    margin-right: 3px; */
    background-color: var(--toggle);
    transition: 1s all ease;
}

/* .togg i {
    width: 42px;
    height: 15px;
    color: var(--Toggle);
} */

#section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    /* padding: 0 15px ; */
}

.section_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    flex-wrap: wrap;
    gap: 2rem;
    /* margin-left: 85px; */
    /* padding: 0 9px ; */
    /* flex-wrap: wrap; */
}

.content_wrapper {
    width: 100%;
    width: 250px;
    height: 210px;
    padding: 20px 10px;
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--cardBg);
    border-radius: 0.5rem;

}
.content_wrapper:nth-child(1){
    border-top: 7px solid hsl(208, 92%, 53%);
}
.content_wrapper:nth-child(2){
    border-top: 7px solid hsl(203, 89%, 53%);;
}
.content_wrapper:nth-child(3)::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    width: 250px;
    height: 7px;
    top: 0;
    left: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}
.content_wrapper:nth-child(4){
    border-top: 7px solid hsl(348, 97%, 39%);
}


.logoname {
    display: flex;
    column-gap: .3rem;
    align-items: center;
    justify-content: center;
}

.logoname img {
    width: 15px;
    height: 15px;
}

.logoname h4 {
    font-size: 11px;
}

.no_followers_content {
    display: flex;
    flex-direction: column;

}

.no_followers_content h1 {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}

.no_followers_content h3 {
    letter-spacing: 4px;
    margin-top: .2rem;
    text-align: center;
    font-weight: 100;
    color: var(--DarkGrayishBlueText);
}

.followers_increase {
    display: flex;
    column-gap: .2rem;
    justify-content: center;
    align-items: center;
}

.followers_increase img {
    width: 10px;
    height: 5px;
    color: var(--LimeGreen);
}

.followers_increase h4 {
    font-size: 12px;
    color: var(--LimeGreen);

}

.followers_increase h4.h4red {
    color: var(--BrightRed);
}

#section_2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

._content {
    padding: 0 6rem;
    margin-bottom: 1rem;
}

.box_main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1300px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.box_wrapper {
    width: 100%;
    width: 250px;
    height: 120px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    background-color: var(--cardBg);
    border-radius: 0.5rem;
    /* margin-bottom: .5rem; */
}

.first_flex {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    row-gap: 2rem;
}

.first_flex h3 {
    font-size: 15px;
}

.first_flex h2 {
    font-size: 30px;
    font-weight: 700;
}

.second_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.7rem;
}

.third_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .2rem;
}

.third_flex img {
    width: 13px;
    height: 13px;

}

.third_flex h5 {
    font-size: 14px;
    color: var(--BrightRed);
}
.third_flex h5.color_change{
    color: var(--LimeGreen);
}
@media (min-width:320px) and (max-width:768px) {
    /* #header {
        flex-direction: column;
    } */
    .header_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first_content_wrapper{
        display: flex;
        width: 300px;
       
        /* flex-direction: row; */
    }
    .togg{
        display: flex;
        justify-content: space-between;
        width: 235px;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .togg img{
        width: auto;
        height: 20px;
        text-align: center;
    }
    .togg h3{
        /* margin-top: 1rem; */
    }
    .first_content_wrapper{
        padding: 0 2rem;
    }
    .horizontan_line{
        position: absolute;
        visibility: visible;
        width: 230px;
        height: 1px;
        top: 47px;
        border: none;
        background-color: black;
    }
}
@media (max-width:1024px) {
    .section_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1400px;
        flex-wrap: wrap;
        gap: 2rem;
        margin-left: 15px;
        /* padding: 0 9px ; */
         flex-wrap: wrap;
    }
    
}
@media (max-width:1440px) {
    .section_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1270px;
        flex-wrap: wrap;
        gap: 2rem;
        margin-left: 15px;
        /* padding: 0 9px ; */
        /* flex-wrap: wrap; */
    }
}